<div class="card card-body p-6 rounded-6 bg-secondary text-white">

  <table class=" t text-center  ">
    {{#if tasks}}
    <thead>
      <th>#</th>
      <th>Title</th>
      <th>Description</th>
      <th>Operations</th>
    </thead>

    <tbody>
      {{#each tasks}}
      <tr>
        <td>
          {{@index}}
        </td>
        </td>
        <td><strong>{{title}}</strong></td>
        <td>{{description}}</td>
        <td>
          {{#if done}}
          <a type="button" class="btn btn-success text-light  text-center btn-center"
            href="v1.0/tasks/{{_id}}/toggleDone" aria-setsize="2">Done</a>
          {{else}}
          <a type="button" class="btn btn-dark text-light text-center btn-center "
            href="v1.0/tasks/{{_id}}/toggleDone">Undone</a>
          {{/if}}
          <a onclick="return confirm('Are you sure you want to delete this task?')" type="button"
            class="btn btn-danger text-light text-center btn-center"
            href="v1.0/tasks/{{_id}}/delete">Delete</a>
          <a type="button" class="btn btn-primary text-light text-center btn-center"
            href="v1.0/tasks/{{_id}}/update">Update</a>
        </td>
      </tr>
      {{/each}}
    </tbody>

    {{else}}
    <tr>
      <thead>
        <th colspan="4">No tasks found</th>
      </thead>
      <tbody>
        <td>
          <!--Insert the svg not found-->
          <svg id="changeColor" fill="#DC7633" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" width="30" zoomAndPan="magnify" viewBox="0 0 375 374.9999"
            height="30" version="1.0">
            <defs>
              <path id="pathAttribute"
                d="M 11.972656 11.972656 L 359.222656 11.972656 L 359.222656 359.222656 L 11.972656 359.222656 Z M 11.972656 11.972656 "
                fill="#ffffff"></path>
            </defs>
            <g>
              <path id="pathAttribute"
                d="M 185.597656 359.222656 C 89.675781 359.222656 11.972656 280.984375 11.972656 185.597656 C 11.972656 90.210938 89.675781 11.972656 185.597656 11.972656 C 281.519531 11.972656 359.222656 89.675781 359.222656 185.597656 C 359.222656 281.519531 280.984375 359.222656 185.597656 359.222656 Z M 185.597656 22.691406 C 95.570312 22.691406 22.691406 95.570312 22.691406 185.597656 C 22.691406 275.625 95.570312 348.503906 185.597656 348.503906 C 275.625 348.503906 348.503906 275.625 348.503906 185.597656 C 348.503906 95.570312 275.089844 22.691406 185.597656 22.691406 Z M 185.597656 22.691406 "
                fill-opacity="1" fill-rule="nonzero" fill="#ffffff"></path>
            </g>
            <g id="inner-icon" transform="translate(85, 75)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" id="IconChangeColor" height="199.8"
                width="199.8">
                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                <path
                  d="M75.23 33.4L320 63.1L564.8 33.4C571.5 32.56 578 36.06 581.1 42.12L622.8 125.5C631.7 143.4 622.2 165.1 602.9 170.6L439.6 217.3C425.7 221.2 410.8 215.4 403.4 202.1L320 63.1L236.6 202.1C229.2 215.4 214.3 221.2 200.4 217.3L37.07 170.6C17.81 165.1 8.283 143.4 17.24 125.5L58.94 42.12C61.97 36.06 68.5 32.56 75.23 33.4H75.23zM321.1 128L375.9 219.4C390.8 244.2 420.5 255.1 448.4 248L576 211.6V378.5C576 400.5 561 419.7 539.6 425.1L335.5 476.1C325.3 478.7 314.7 478.7 304.5 476.1L100.4 425.1C78.99 419.7 64 400.5 64 378.5V211.6L191.6 248C219.5 255.1 249.2 244.2 264.1 219.4L318.9 128H321.1z"
                  id="mainIconPathAttribute" fill="#ffffff"></path>
              </svg>
            </g>
          </svg>

        </td>
      </tbody>

    </tr>
    {{/if}}
  </table>
</div>